[Unit]
Description=Manage remote start of device backup
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/local/bin/mqtt-backup-trigger.py -f /etc/mqtt-integration/backup-trigger.conf
Restart=always
RestartSec=30s
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
